<ul class="menu">
  <li><%= link_to 'Home', '/index.html' %></li>
  <li><%= link_to 'Beer', '/beer.html' %></li>
  <li><%= link_to 'Liquid', '/liquid.html' %></li>
  <li><%= link_to 'Test One', '/test/index.html' %></li>
  <li><%= link_to 'Test Two', '/test/two.html' %></li>
  <li><%= link_to 'Test Three', '/test/three.html' %></li>
</ul>
